.todo-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        margin: 0;
        margin-top: 1rem;
    }

    .inputs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        .form-group {
            display: flex;
            gap: .5rem;
        }
    }

    button {
        background-color: black;
        border: none;
        color: white;
        font-weight: bold;
        padding: 0.5rem;
        transition-duration: .3s;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            background-color: white;
            border: 1px solid black;
            color: black;
        }
    }
}